*{
    margin: 0;
    padding: 0;
}

#background{
    background-image: url('https://i.ibb.co/RpMvh1dW/Screenshot-2025-11-06-205025.png');
    background-size: cover;
    color: white;
}

#titlepartandlogo{
    padding: 50px;
}

#buttonsandtitle{
    padding: 50px;
    text-align: center;
    font-size:40px;
    margin-bottom: 50px;
    margin-top: 50px;

    button{
        margin-top: 50px;
        margin-bottom: 100px;
        color: white;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 100px;
        background-color: #3B3B3B;
        border: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        &:hover{
            cursor: pointer;
            background-color: #fffffd;
            color: #3B3B3B;
        }
    }
}

#studentint{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    h1{
        margin-bottom: 30px;
        font-size: 40px;
    }
}


#aboutdrsaga{
    display: flex;
    margin-top: 200px;
    margin-bottom: 150px;

}

#abovefooter{
    background-color: #32373D;
    text-align: left;
    padding-bottom: 80px;
    padding-top:50px;
    padding-left: 30px;
    h1{
        color: #fffffd;
        font-size: 50px;
    }
    p{
        margin-top: 20px;
        color:#989ca0;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 30px;
        margin-right: 50%;
    }
    button{
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 100px;
        border: none;
        &:hover{
            cursor: pointer;
            background-color: black;
            color: #fffffd;
        }
    }
}

footer{
    color: #7f8385;
    background-color: #161a1c;
    text-align: center;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    margin-left: 30%;
    padding: 50px;
    label{
        font-size: 30px;
        padding-bottom: 30px;
    }
    button{
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 100px;
        border: none;
        background-color: #32373D;
        color:#fffffd;
        &:hover{
            cursor: pointer;
            background-color: #fffffd;
            color: #32373D;
        }
    }
}

#name, #thoughts, #feedback, #email{
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
}

#form{
    h1{
        padding-left: 30px;
        padding-top: 30px;
        text-align: center;
    }
    button{
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 100px;
        border: none;
        background-color: #32373D;
        color:#fffffd;
        &:hover{
            cursor: pointer;
            background-color: #fffffd;
            color: #32373D;
        }
    }

    margin-top: 50px;
    margin-bottom:50px;
}

#studentint{
        button{
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 100px;
        margin-top: 40px;
        border: none;
        background-color: #32373D;
        color:#fffffd;
        &:hover{
            cursor: pointer;
            background-color: #fffffd;
            color: #32373D;
        }
        }
}